{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Request</title>
</head>
<body>
    Hello  {{ username }}.
<h4>You have new request  {{obj.name}} from {{obj.company}} at {{obj.created_at}} for:</h4>
<ul>
{% for service in services %}
 <li> {{service.name}} </li>
{% endfor %}
</ul>
<p>For contact use:
<br/>phone: {{obj.phone}}
<br/>email: {{obj.email}}
</p>

Have a nice day,,,
</body>
</html>

