{% extends 'website/coretech/_base.html' %}
{% block title %} من نحن{% endblock title %}
{% load static %}
{% block content %}
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper background-about"
         style="background: linear-gradient(to top, #3c3369ba, #4c4779cc), url({% static 'website/coretech/assets/img/breadcum/istockphoto-1221653457-170667a.jpg' %}) no-repeat;">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title"> من نحن
                </h1>
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'website:website_index' %}">الصفحة الرئيسية</a></li>
                    <li> من نحن
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--======== / Hero Section ========-->
    <!--==============================
    About Area  
    ==============================-->
    <div class="overflow-hidden space">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-7 pe-xxl-5">
                    <div class="img-box3">
                        <div class="img1">
                            <img src="{% static 'website/coretech/assets/img/normal/about_2_1.jpg' %}" alt="About">
                        </div>
                        <div class="shape1">
                            <img src="{% static 'website/coretech/assets/img/shape/Asset 5-8.png' %}" alt="shape">
                        </div>
                        <div class="about-counter1">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="title-area  mb-30">

                        <h2 class="sec-title text-start">
                            من نحن

                        </h2>
                    </div>
                    <p class="mt-n2 mb-4">
                        الموجة المركزية نطمح لنكون احدى اهم الشركات الرائدة في مجال تطوير البرمجيات والخدمات السحابية
                        المدعومة تقنيات وخدمات الذكاء الاصطناعي لتقدم حلول مصممة خصيصاً لتلبية احتياجات الشركات
                        والمؤسسات والقطاعات التجارية والخدمية بأفضل الحلول التقنية الحديثة والخدمات الرقمية بأعلى
                        مستويات الأداء والفعالية لعملائها. نحن مجموعة من خبراء التقنية يجمعهم هدف ورؤية مشتركة لتطوير
                        الخدمات الحاسوبية بالذكاء الاصطناعي تحت اطر واسس تعمل على تلبية احتياجات رواد الاعمال والقطاع
                        الخاص والدفع بعجلة التطوير الرقمي نحو تحقيق رؤية 2030.
                    </p>
                    <div class="btn-wrap mt-30">

                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space">
        <div class="container">
            <div class="row justify-content-between">

                <div class="col-xl-12 mt-5 mt-xl-0">
                    <div class="custom-box2">
                        <div class="tab-menu3 filter-menu-active">
                            <button data-filter=".cat1" class="active" type="button">رؤيتنا</button>
                            <button data-filter=".cat2" type="button">مهمتنا</button>
                            <button data-filter=".cat3" type="button">اهدافنا</button>
                        </div>
                        <div class="filter-active-cat1">
                            <div class="filter-item w-100 cat1">

                                <div class="mission-list">
                                    <div class="rounded-10">
                                        <img src="{% static 'website/coretech/assets/img/normal/mission_1.jpg' %}"
                                             alt="Mission">
                                    </div>
                                    <div class="ticklist">
                                        <p class="mb-30">
                                            تطمح الموجة المركزية لتكون من بين أفضل شركات التقنية ومزودي الخدمات الرقمية
                                            في السعودية ودول الخليج و التي تقدم أوسع نطاق من الخدمات المعتمدة والرائدة
                                            وتساهم في تحقيق رؤية ٢٠٣٠ والوصول لأعلى المستويات في الانظمة الرقمية الحديث
                                            المدعمة بالذكاء الاصطناعي.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-item w-100 cat2">
                                <div class="mission-list">
                                    <div class="rounded-10">
                                        <img src="{% static 'website/coretech/assets/img/normal/mission_2.jpg' %}"
                                             alt="Mission">
                                    </div>
                                    <div class="ticklist">
                                        <p>
                                            في الموجة المركزية ندعم عملائنا في منطقة الخليج العربي لتحقيق الانتشار عبر
                                            الخدمات السحابية والبرمجيات المدعمة بتقنيات الذكاء الاصطناعي المختلفة وبناء
                                            مجتمع متكامل لها مما يساهم في رفع كفاءة الإدارة لدى العملاء وعبر تقديم
                                            مجموعة كاملة من الحلول تبدء بدء بأنظمة الإدارة المتكاملة مرورا بالتصميم
                                            والتسويق الالكتروني بكافة أركانه وانتهاء بالتقارير والمتابعات و توظيف خدمات
                                            الذكاء الاصطناعي مما يعود على تحقيق الأهداف الربحية والإدارية للمؤسسات
                                            والشركات.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-item w-100 cat3">
                                <div class="mission-list">
                                    <div class="rounded-10">
                                        <img src="{% static 'website/coretech/assets/img/normal/mission_3.jpg' %}"
                                             alt="Mission">
                                    </div>
                                    <div class="ticklist">
                                        <ul>
                                            <li>
                                                توفير أنظمة سحابية مرنة وسهلة الاستخدام مدعمة بتقنية الذكاء الاصطناعي
                                                تناسب كافة الاحتياجات المحاسبية والإدارية.
                                            </li>
                                            <li>
                                                تلبية كافة احتياجات العملاء الرقمية وخلق تجربة فريدة تؤام كل عميل.
                                            </li>
                                            <li>
                                                انعكاس جودة خدماتنا على تطور ونجاح العملاء في سوق العمل.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}