{% extends 'website/coretech/_base.html' %}
{% block title %} تواصل معنا {% endblock title %}

{% load static %}
{% block content %}    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper " style="background: linear-gradient(to top, #3c3369ba, #4c4779cc), url({%static 'website/coretech/assets/img/breadcum/istockphoto-1311934969-612x612.jpg'%}) no-repeat;">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">اتصل بنا
                </h1>
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'website:website_index' %}">الصفحة الرئيسية</a></li>
                    <li>اتصل بنا
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
Contact Area  
==============================-->
    <div class="space">
        <div class="container">
            <div class="row gy-40">
                <div class="col-xl-5">
                    <div class="contact-info-wrap">
                        <h2 class="fs-40 border-title">معلومات الاتصال</h2>
                        <div class="contact-info">
                            <h4 class="contact-info_title">رقم هاتف:</h4>
                            <div class="contact-info_icon">
                                <i class="fal fa-phone"></i>
                            </div>
                            <div class="media-body">
                                <span class="contact-info_text" dir="ltr">
                                    <a href="tel:++9660534862079">+9660534862079</a>
                                  
                                </span>
                            </div>
                        </div>
                        <div class="contact-info">
                            <h4 class="contact-info_title">عنوان البريد:</h4>
                            <div class="contact-info_icon">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="media-body">
                                <span class="contact-info_text">
                                    <a href="mailto:z.alhosamyfx@gmail.com">z.alhosamyfx@gmail.com</a>
                                </span>
                            </div>
                        </div>
                        <div class="contact-info">
                            <h4 class="contact-info_title">عنوان المكتب:</h4>
                            <div class="contact-info_icon">
                                <i class="fal fa-location-dot"></i>
                            </div>
                            <div class="media-body">
                                <span class="contact-info_text">السعودية</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="contact-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4740308.26398404!2d46.5097499164811!3d23.897729471020345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f03890d489399%3A0xba974d1c98e79fd5!2z2KfZhNix2YrYp9i2INin2YTYs9i52YjYr9mK2Kk!5e0!3m2!1sar!2s!4v1674410109547!5m2!1sar!2s"  style="border:0;width: 100%;height: 519px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--==============================
Contact Area  
==============================-->
    <section class="space-bottom overflow-hidden">
        <div class="container">
            <div class="row gy-40 align-items-end">
                <div class="col-xl-8">
                    <h3 class="fs-40 mb-2 mt-n2">اترك لنا ملاحظة</h3>
                    <form action="mail.php" method="POST" class="quote-form ajax-contact">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" name="name" id="name" placeholder="اسمك">
                                <i class="fal fa-user"></i>
                            </div>
                            <div class="form-group  col-md-6">
                                <input type="email" class="form-control" name="email" id="email" placeholder="عنوان البريد الإلكتروني">
                                <i class="fal fa-envelope"></i>
                            </div>
                            <div class="form-group  col-md-12">
                                <input type="tel"  class="form-control" name="number" id="number" placeholder="رقم الهاتف">
                                <i class="fal fa-phone"></i>
                            </div>
                           
                            <div class="form-group col-12">
                                <textarea name="message" id="message" cols="30" rows="3" class="form-control" placeholder="رسالتك"></textarea>
                                <i class="fal fa-comment"></i>
                            </div>
                            <div class="form-btn col-12">
                                <button class="as-btn">أرسل رسالة</button>
                            </div>
                        </div>
                        <p class="form-messages mb-0 mt-3"></p>
                    </form>
                </div>
                <div class="col-xl-4">
                    <div class="contact-img">
                        <img src="{%static 'website/coretech/assets/img/normal/contact_1.png'%}" alt="vector">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}