{% extends 'website/coretech/_base.html' %}
{% block title %}  التصاميم والجرافكس{% endblock title %}

{% load static %}
{% block content %}

<div class="breadcumb-wrapper " style="  background: linear-gradient(to top, #3c3369ba, #4c4779cc), url({%static 'website/coretech/assets/img/breadcum/istockphoto-1194380325-170667a.jpg'%})no-repeat">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">
                التصاميم والجرافكس </h1>
            <ul class="breadcumb-menu">
                <li><a href="{% url 'website:website_index' %}">الصفحة الرئيسية</a></li>
                <li>
                    التصاميم والجرافكس </li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
    Service Area
==============================-->
<section class="mt-5 mb-2">
    <div class="container">
        <div class="row">

            <div class="col-xxl-12 col-lg-12">
                <h5 class="h4 page-title">
                    لماذا تحتاج شركتك /مؤسستك إلى تصميم هوية بصرية كاملة؟ </h5>
                <p>
                    احتياج الشركة الناشئة للهوية البصرية الكاملة كاحتياج القمر للشمس فهما لا يفترقان أبدًا ولهذا أسباب
                    منها:
                <div class="row">
                    <div class="col-md-4">
                        <div class="process-card">
                            <div class="process-card_icon">
                                <i class="fa-solid fa-users"></i>
                            </div>
                            <div class="process-card_number mt-2">1</div>
                            <h2 class="process-card_title box-title text-center">
                                تُثبت مكانك بين المنافسين
                            </h2>

                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="process-card">
                            <div class="process-card_icon">
                                <i class="fa-regular fa-briefcase"></i>
                            </div>
                            <div class="process-card_number mt-2">2</div>
                            <h2 class="process-card_title box-title text-center">
                                تؤكد على مهنية الشركة
                            </h2>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="process-card">
                            <div class="process-card_icon">
                                <i class="fa-regular fa-heart"></i>
                            </div>
                            <div class="process-card_number mt-2">3</div>
                            <h2 class="process-card_title box-title text-center">
                                تزرع الوعي في قلوب العملاء
                            </h2>
                        </div>
                    </div>

                </div>





            </div>

        </div>
        <div class="row">
            <div class="col-md-12 mt-5 mb-3 text-center">
                <img src="{%static 'website/coretech/assets/img/service/desigfn.png'%}
                ">
            </div>
            <div class="col-xxl-12 col-lg-12 mt-auto mb-auto">
                <h3>ماذا يعني تصميم هوية بصرية للشركات والمواقع الإلكترونية؟
                </h3> هوية الشركة هو كل التصاميم التي تتعلق بالوثائق الإلكترونية وحتى المطبوعة للشركة والتي من أبرزها
                شعار الشركة أو المؤسسة ويعتبر شعار الشركة الهوية الرئيسية والتعريفية الخاصة بالشركة، والهوية التجارية أو
                البصرية من أهم الأمور التي تساعد في الحملات الدعائية والحملات الإعلانية وهي من أهم استراتيجيات التسويق
                الإلكتروني وحتى التسويق التقليدي فهي التي تجذب العملاء وتعطيهم انطباعًا أوليًا جيدًا عن موقعك أو خدماتك
                أو منتجاتك، لذا فالهوية البصرية تعني الكثير والكثير للشركات والمواقع ويجب أن يهتم بها كل صاحب عمل يريد
                من عمله أن يزدهر ويصل إلى العملاء بأفضل صورة ممكنة.
            </div>

        </div>

    </div>
</section>

<section class="bg-auto space" id="testiSec2">

    <div class="container">
        <h4>خدمات التصميم للشعارات والهوية البصرية وفيديوهات الرسوم المتحركة </h4>
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-4 mt-5">
                <div class="service-card">
                    <div class="service-card_icon">
                        <i class="fa-solid fa-pen-ruler"></i>
                    </div>

                    <h3 class="service-card_title">
                        تصميم الشعارات
                    </h3>
                    <p class="service-card_text">
                        نصمم شعارات احترافية وابداعية تميز علامتك التجارية بين منافسينك وتزيد من ثقة عملائك
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4 mt-5">
                <div class="service-card">
                    <div class="service-card_icon">
                        <i class="fa-light fa-users"></i>
                    </div>

                    <h3 class="service-card_title">
                        تصميم حسابات التواصل الاجتماعي
                    </h3>
                    <p class="service-card_text">
                        نقدم خدمة تصميم كامل لحسابات التواصل الاجتماعي لتظهر بشكل احترافي يتوافق مع هويتك البصرية وبشكل
                        مميز
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4 mt-5">
                <div class="service-card">
                    <div class="service-card_icon">
                        <i class="fa-light fa-pen-nib"></i>
                    </div>

                    <h3 class="service-card_title">
                        تصميم الهوية البصرية
                    </h3>
                    <p class="service-card_text">
                        نصمم هويتك البصرية بشكل احترافي وشعار يميزك عن منافسينك ويجذب انتباه عملائك لتفاصيل نجاحك
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4 mt-5">
                <div class="service-card">
                    <div class="service-card_icon">
                        <i class="fa-regular fa-video"></i>
                    </div>

                    <h3 class="service-card_title">
                        تصميم الموشن جرافيك
                    </h3>
                    <p class="service-card_text">
                        صمم لك موشن جرافيك احترافي لمشاركة افكار منتاجتك بشكل ذكي وفعال
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4 mt-5">
                <div class="service-card">
                    <div class="service-card_icon">
                        <i class="fa-solid fa-box"></i>
                    </div>

                    <h3 class="service-card_title">
                        تصميم البكاجات
                    </h3>
                    <p class="service-card_text">
                        خدمة تصميم البكجات اللي تناسب منتاجتك بشعارك وهويتك الخاصة تعطي انطباع عن جودة اعمالك ومنتاجتك
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4 mt-5">
                <div class="service-card">
                    <div class="service-card_icon">
                        <i class="fa-light fa-memo"></i>
                    </div>

                    <h3 class="service-card_title">
                        تصميم ملفات التعريف

                    </h3>
                    <p class="service-card_text">
                        شارك رسالتك واعمالك عن طريق ملف تعريفي مميز يتوافق مع هويتك ورؤية اعمالك
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{%static 'website/coretech/assets/img/service/desu.jpg'%}
            ">
        </div>
        <div class="col-xxl-8 col-lg-12 mt-auto mb-auto">
            <h3> ما الذي تتضمنه خدمات تصميم الهوية البصرية؟
            </h3>تتضمن خدمة تصميم هوية بصرية
            1- تصميم اللوجو والشعار الخاص بك لوجو logo<br>
            2- تصميم لوازم الموظفين.<br>
            3- تصميم المطبوعات الداخلية.<br>
            4- تصميم ملف إرشادي للمطبوعات.<br>
            5- تصميم اللوحات الخارجية.<br>
            6- تصميم المطبوعات الخاصة بالدعايا والإعلان.<br>
            7- تصميم كوفر وخلفيات للسوشيال ميديا.<br>
            8- تصميم عروض فيديو دعائية للموقع الألكتروني.<br>
        </div>

    </div>
</div>
<section class="mt-2">
    <div class="cta-wrap">
        <div class="container">
            <div class="row w-100 gx-0 align-items-center">
                <div class="col-lg text-center text-lg-start">
                    <h5 class="mb-10 mt-n2 text-right">
                        للحصول على تصميم شركتك
                    </h5>

                </div>
                <div class="col-lg-auto mt-35 mt-lg-0">
                    <div class="text-center">
                        <a href="{% url 'website:request-service' category="graphics" %}"
                            class="as-btn style3"
                           >اطلب الخدمة</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <img src="{%static 'website/coretech/assets/img/logo.png'%}" class="img-95px">  </h5>
                    <h5 class="mr-5">
                        اطلب الخدمة المطلوبة وسيتم التواصل معك
                   </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" method="POST" class=" ">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="name" id="name" placeholder="الاسم">
                            <i class="fal fa-user"></i>
                        </div>
                        <div class="form-group  col-md-6">
                            <input type="email" class="form-control" name="email" id="email"
                                placeholder="عنوان البريد الإلكتروني">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="form-group  col-md-6">
                            <input type="number" class="form-control" name="phone" id="phone" placeholder="رقم الهاتف">
                            <i class="fal fa-phone"></i>
                        </div>
                        <div class="form-group  col-md-6">
                            <input type="text" class="form-control" name="company" id="company"
                                placeholder="اسم الشركة/ المؤسسة ">
                            <i class="fal fa-comment"></i>
                        </div>

                        <div class="form-group col-12">
                            اختر الخدمة المطلوبة
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value="" id="gr">
                                        <label class="form-check-label" for="gr">
                                            تصميم هوية بصرية
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value="" id="gs">
                                        <label class="form-check-label" for="gs">
                                            تصميم موشن جرافيك
                                        </label>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value="" id="gl">
                                        <label class="form-check-label" for="gl">
                                            تصميم شعارات
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value="" id="gp">
                                        <label class="form-check-label" for="gp">
                                            تصميم باكجات ومطبوعات
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="form-btn col-12">
                            <button class="as-btn">ارسل الخدمة </button>
                        </div>
                    </div>
                    <p class="form-messages mb-0 mt-3"></p>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock content %}