{% extends 'website/coretech/_base.html' %}
{% block title %} سياسة الخصوصية
{% endblock title %}

{% load static %}
{% block content %}
<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper "
    style="background: linear-gradient(to top, #3c3369ba, #4c4779cc), url(https://img.choice.com.au/-/media/8c7ac4cc3c9446eaaad4df1b14c043e9.ashx) no-repeat;">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">
                سياسة الخصوصية
            </h1>
            <ul class="breadcumb-menu">
                <li><a href="{% url 'website:website_index' %}">الصفحة الرئيسية</a></li>
                <li>
                    سياسة الخصوصية
                </li>
            </ul>
        </div>
    </div>
</div>
<!--======== / Hero Section ========-->
<!--==============================
    About Area  
    ==============================-->
<div class="overflow-hidden space">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12 mt-5 text-right">
                <div class="outer page-title text-right h3">
                    سياسة الخصوصية
                    <hr class="line" />

                </div>
            </div>
            <p>
                تعتبر سياسة وشروط الخصوصية الموضحة أدناه جزءاً من شروط استخدام المواقع الإلكترونية والخدمات التابعة
                لمؤسسة مور تك لتقنية المعلومات وأحكامه.
            </p>
            <p>تنص سياسة الخصوصية الطريقة الذي تقوم الموجة التالية عبرها بجمع واستخدام المعلومات التي تم جمعها من قبل
                مستخدمين خدماتها، وتطبق سياسة الخصوصية هذه في الخدمة وكافة المنتجات والخدمات المقدمة من الموجة التالية.</p>
                <br>
                <div class="col-md-12 mt-5 text-right">
                    <div class="outer page-title  h3">
                        <h3>معلومات الهوية الشخصية</h3>
                        <hr class="line" />
    
                    </div>
                </div>
            <p>تقوم الموجة التالية بجمع معلومات عن الهوية الشخصية للمستخدمين بطرق مختلفة، ومنها: أوقات زيارة المستخدم للخدمة،
                التسجيل في خدمة الموجة التالية، نموذج ملء الطلب، وغير ذلك من الاستخدامات و الخدمات، والميزات أو المصادر التي
                قد نوفرها على خدمتنا.
                كما أنه قد يُطلب من المستخدمين توضيح الاسم بشكل كامل، عنوان البريد الإلكتروني، رقم الهاتف، وبيانات
                بطاقة الائتمان.
            </p>
            <div class="col-md-12 mt-5 text-right">
                <div class="outer page-title  h3">
                    <h3>معلومات لا تتعلق بالهوية الشخصية</h3>
                    <hr class="line" />

                </div>
            </div>
            <p>تقوم الموجة التالية بجمع بعض المعلومات عن المستخدمين أينما تفاعلوا مع الخدمة، وهذه المعلومات لا تتعلق بالهوية
                الشخصية إنما قد تتضمن معلومات تقنية عن أساليب اتصال المستخدم بالخدمة، مثل الشركة المستخدمة لتقديم
                خدمة الإنترنت وغيرها من المعلومات المشابهة.</h5>
                <div class="col-md-12 mt-5 text-right">
                    <div class="outer page-title  h3">
                        <h3>كيف نقوم باستخدام المعلومات التي تم جمعها</h3>
                        <hr class="line" />
    
                    </div>
                </div>
            <h6>تقوم الموجة التالية بجمع واستخدام المعلومات الشخصية للمستخدمين في الأغراض التالية:</h6>
            <p>
                1. رفع جودة خدمة العملاء:
                <br> تساعدنا المعلومات الخاصة بك على سهولة الاستجابة لطلباتك الموجهة لخدمة العملاء واحتياجاتك للدعم
                بشكل أكثر فاعلية.
                <br> 2.تطوير الخدمة:
                <br> نسعى باستمرار لتطوير العروض المقدمة من خلال الخدمة وفقاً للمعلومات والملاحظات التي نتلقاها منك
                من أجل فهم أفضل لمصالح واحتياجات مستخدمي خدماتنا.
                <br> 3. إرسال رسائل إلكترونية:
                عنوان البريد الإلكتروني الذي يسجله المستخدمون للتعامل مع طلبهم، سوف يستخدم فقط في إرسال معلومات
                وتحديثات لهم تتعلق بطلبهم. وقد يُستخدم أيضاً في الاستجابة على الاستفسارات، أو غيرها من الطلبات
                والأسئلة.

            </p>
            <div class="col-md-12 mt-5 text-right">
                <div class="outer page-title  h3">
                    <h3>
                        حماية معلوماتك
                    </h3>                    <hr class="line" />

                </div>
            </div>
           
            <p>في الموجة التالية نتبع الإجراءات الصحيحة ومعايير الأمان في جمع وحفظ والتعامل مع البيانات، لحماية البيانات من
                التعامل غير المصرح به، أو التعديل، أو الإفصاح أو إتلاف بياناتك الشخصية، واسم المستخدم، وكلمة المرور،
                ومعلومات تخص تعاملاتك والبيانات المخزنة على خدماتنا. يتم تبادل البيانات الخاصة بين الموجة التالية وعملائها من
                خلال قنوات اتصال أمنة ويتم تشفيرها وحمايتها من خلال طرق وأساليب رقمية معتمدة.</p>
            <div class="col-md-12 mt-5 text-right">
                <div class="outer page-title  h3">
                    <h3>مشاركة بياناتك الشخصية</h3>

                    <hr class="line" />

                </div>
            </div>
           
            <p>في الموجة التالية لا نقوم ببيع بيانات الهوية الشخصية الخاصة بالمستخدمين إلى جهات أخرى، قد نستخدم طرف ثالث مقدم
                للخدمة ليساعدنا في تسيير أعمالنا وأيضاً في عمل الخدمة أو في إدارة الأنشطة بالنيابة عنا، مثل الدراسات
                الاستقصائية. وقد تتم مشاركة بياناتك مع هذا الطرف الثالث في حدود تلك الأغراض المحددة.</p>
                <div class="col-md-12 mt-5 text-right">
                    <div class="outer page-title  h3">
                        <h3>المواقع الخاصة بالطرف الثالث</h3>
    
                        <hr class="line" />
    
                    </div>
                </div>
               
            <p>قد يجد المستخدمون إعلانات أو غيرها من المحتويات على خدمتنا تحمل روابط لمواقع وخدمات شركائنا، أو
                الموردين، أو المعلنين، أو الراعين، أو مانحي التراخيص، أو غيرهم من الكيانات التي تمثل الطرف الثالث.
                وينبغي العلم بأننا لا نتحكم في المحتوى أو الروابط التي تظهر على تلك المواقع ولسنا مسئولين عن
                الممارسات التي تقوم بها المواقع المرتبطة بموقعنا. بالإضافة إلى ذلك، فإن تلك المواقع أو الخدمات وتشمل
                المحتوى والروابط قد تتغير باستمرار. وهذه المواقع والخدمات يكون لديها سياسة الخصوصية وسياسات خدمة
                العملاء الخاصة بها. كما أن التصفح والتفاعل على أي موقع آخر، بما في ذلك المواقع التي تحمل رابط
                لخدمتنا، تخضع للشروط والسياسات الخاصة بتلك المواقع.</p>
            <div class="col-md-12 mt-5 text-right">
                <div class="outer page-title  h3">
                    <h3>تعديلات سياسة الخصوصية</h3>

                    <hr class="line" />

                </div>
            </div>
            <p>تمتلك الموجة التالية حق التعديل على سياسة الخصوصية كما تراه مناسب لسياساتها. وعلى المستخدم مراجعة التحديثات.
                لذا نحث المستخدمين على مراجعة سياسة الخصوصية بشكل دوري للاطلاع على أي تغيرات بحيث يكونوا على علم بما
                نقوم به في سبيل حماية البيانات الشخصية التي نقوم بجمعها. ويتحمل المستخدم على مسؤوليته في مراجعة
                سياسة الخصوصية هذه بشكل دوري ومعرفته بالتعديلات.</p>
                <div class="col-md-12 mt-5 text-right">
                    <div class="outer page-title  h3">
                        <h3>الموافقة على سياسة الخصوصية</h3>
    
                        <hr class="line" />
    
                    </div>
                </div>
            <p>استخدامك لخدمات الموجة التالية يعني موافقتك على سياسة الخصوصية المتبعة والضوابط والشروط التي تحكم استخدام
                خدمتنا. وفي حالة عدم الموافقة على هذه السياسة، يجب عليك عدم استخدام خدماتنا. واستمرارك باستخدام
                خدماتنا بعد إعلان التغييرات التي تطرأ على هذه السياسة أو على ضوابط وشروط استخدام الخدمة سيعتبر
                بمثابة موافقة منك على هذه التغييرات.</p>
        </div>


    </div>
</div>
{% endblock content %}