{% extends 'website/coretech/_base.html' %}
{% block title %}        الشروط والاحكام 
{% endblock title %}

{% load static %}
{% block content %}
<div class="breadcumb-wrapper "
style="background: linear-gradient(to top, #3c3369ba, #4c4779cc), url(https://res.cloudinary.com/sipc/image/upload/w_400,dpr_3.0,f_auto,q_auto,c_fill,g_auto,h_200/v1546023069/about-sipc/statutes-and-rules.jpg) no-repeat;">
<div class="container">
    <div class="breadcumb-content">
        <h1 class="breadcumb-title">
            الشروط والاحكام
        </h1>
        <ul class="breadcumb-menu">
            <li><a href="{% url 'website:website_index' %}">الصفحة الرئيسية</a></li>
            <li>
                الشروط والاحكام
            </li>
        </ul>
    </div>
</div>
</div>
<!--======== / Hero Section ========-->
<!--==============================
About Area  
==============================-->
<div class="overflow-hidden space">
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-12 mt-5 text-right">
            <div class="outer page-title text-right h3">
                <h3> شروط واحكام</h3>
                <hr class="line" />

            </div>
        </div>
        <p>
            تمثل هذه الضوابط والشروط اتفاق رسمي وبمثابة عقد بين مؤسسة الموجة المركزية لتقنية المعلومات وبين عملائها
            ومستخدمي خدماتها. تحكم شروط المستخدم هذه استخدامكم لخدمات الموجة المركزية والذي تتمثل بعدة خدمات سحابية ورقمية
            للمستخدمين.
            إن أي استخدام من قبلك للخدمات التي توفرها الموجة المركزية لتقنية المعلومات يعتبر موافقة منك على هذا العقد
            وأحكامه، وتبعاً لذلك يجب عليك عدم استخدام خدماتنا او طلبها في حال لم تكن موافقاً على الأحكام والشروط
            الواردة في هذا العقد.
            تحتفظ الموجة المركزية بحق تعديل أو تغيير كافة الأحكام والشروط دون إخطار مسبق، ويكون من مسؤوليتك كمستخدم او
            عميل مراجعة ضوابط وشروط الاستخدام بشكل دوري لمعرفة التحديثات التي تطرأ على هذه الأحكام والشروط، كما
            نأمل مراجعة سياسة الخصوصية لدينا لمعرفة المزيد حول كيفية استخدام الموجة المركزية للمعلومات التي تقدم لنا من
            قبل مستخدمي خدمات الموجة التالية.
        </p>
        <div class="col-md-12 mt-5 text-right">
            <div class="outer page-title text-right h3">
                <h3>الحصول على الخدمات</h3>
                <hr class="line" />

            </div>
        </div>
        <h5>من خلال استخدامك لخدماتنا أنت تقر وتضمن ما يلي:</h5>
        <p>
            1- أنه لم يسبق أن تم تعطيل استخدامك لخدمات الموجة المركزية أو منعك من استخدامها في أي وقت من الأوقات.
            <br>2- أنك تتمتع بكامل القوة والسلطة للتعاقد وأنك بذلك لن تكون منتهكاً لأي قانون أو عقد.

        </p>
        <br>
        <div class="col-md-12 mt-5 text-right">
            <div class="outer page-title text-right h3">
                <h3>التعهدات والضمانات</h3>
                <hr class="line" />

            </div>
        </div>
        <h5>من خلال استخدامك لخدماتنا أنت تقر وتضمن بأنك سوف:</h5>
        <p>
            1- تحتكم لكافة القوانين واللوائح المعمول بها في المملكة العربية السعودية.
            <br>2- تقدم معلومات صحيحة ودقيقة إلى الموجة المركزية وتقوم بتحديثها بشكل دوري.
            <br>3- تُراجع و تتفاعل مع الإشعارات التي يتم إرسالها من خلال منصات الموجة المركزية او منتجاتها أو تم ذكرها في
            منصات الموجة المركزية فيما يتعلق باستخدامك للخدمات المقدمة من قبلنا او احد شركائنا او وكلائنا.
            <br>4- لن تقوم بتكرار تراخيص من الباطن، أو إصدار، أو نشر، أو نقل، أو توزيع، أو تنفيذ، أو عرض، أو
            بيع، أو إعادة تصنيف خدمات الموجة التالية، وإلا فإنك تكون قد نقلت الخدمة أو قمت باستغلالها تجارياً، باستثناء
            ما يسمح به بموجب هذا العقد.
            <br>5- سوف تستخدم الخدمة لأغراض مشروعة فقط، ولن تستخدم الخدمات لإرسال أو تخزين أي مواد غير قانونية
            أو بهدف التلاعب او الاحتيال.
            <br>6- لن تستخدم الخدمة للتسبب بإيذاء أو مضايقة أو إزعاج أحد .
            <br>7- لن تعرقل التشغيل السليم لانظمة وخدمات ومنتجات المؤسسة.
            <br>8- لن تحاول إلحاق الضرر بالخدمة بأي شكل من الأشكال.
            <br>9- لن تنسخ أو توزع الانظمة أو المحتويات الأخرى دون الحصول على إذن كتابي من الموجة التالية.
            <br>10- سوف تحافظ على كلمة المرور لحسابك أو أي وسيلة تعريف نقدمها لك وتتيح الدخول إلى حسابك، بشكلٍ
            آمن وسري.
            <br>11- سوف تقدم لنا كافة الدلائل التي تثبت هويتك وفقاً لمعايير وشروط الموجة التالية.
            <br>12- يحق لالموجة المركزية رفض تقديم الخدمة أو استخدام الانظمة دون إبداء أسباب.
            <br>13- ان تقوم بالابلاغ عن بالأعطال بالوسائل المناسبة، ومن ذلك عن طريق البريد الإلكتروني التالي:
            support@core-tech.sa

        </p>
        <div class="col-md-12 mt-5 text-right">
            <div class="outer page-title text-right h3">
                <h3>نطاق الترخيص</h3>
                <hr class="line" />

            </div>
        </div>
        <h6>تمنحك الموجة المركزية ترخيص غير حصري، غير قابل للتحويل، غير قابل للتنازل، غير قابل للترخيص من الباطن وغير
            قابل للإلغاء وذلك للحصول على خدماتنا واستخدامها فقط للغرض الشخصي المحدد، لذا يجب عليك:</h6>
        <p>
            1- عدم إتاحة الخدمات أو تأجير، أو استئجار أو تخصيص أو إعادة بيع، أو توزيع أو ترخيص من الباطن لهذه
            الخدمات إلى أي طرف ثالث.
            <br>2- عدم تعديل، أو اجتزاء، أو ترجمة، أو تلخيص، أو إنشاء عمل فرعي يقوم على فك، أو تنفيذ هندسة عكسية
            لتصميم الانظمة والخدمات أو خلاف ذلك من تحديد أو محاولة تحديد أو محاولة الوصول إلى شفرة المصدر أو
            التصميم الداخلي للخدمات أو أي نص أو الوسائط المتعددة (صور، صوتيات، ملفات فيديو)، أو البيانات أو
            غيرها من المعلومات التي تقدمها الموجة المركزية أو الطرف الثالث من مقدمي الخدمة.
            <br>3- عدم حذف، أو تغيير، أو غير ذلك من التعديل على أي حق من حقوق النشر أو غيرها من الإخطارات
            الرسمية الواردة في الخدمات.
            <br>4- عدم تعمد نقل، أو توزيع الخدمات، أو السماح بتحميل الخدمات للاستخدام بخلاف ما هو محدد هنا. عدم
            الادعاء بمنح الخدمات أو السماح بالوصول إليها لأي شخص غيرك.
            <br>5- عدم السماح بمشاركة اسم المستخدم/ أو كلمة المرور أو غيرها من مسوغات الوصول إلى خدمات الموجة التالية.

        </p>
        <div class="col-md-12 mt-5 text-right">
            <div class="outer page-title text-right h3">
                <h3>حقوق الملكية الفكرية</h3>
                <hr class="line" />

            </div>
        </div>
        <p>جميع حقوق الملكية الفكرية لهذه الخدمات وكافة المواد المتعلقة بها أو التي تظهر عليها (وتشمل أي محتوى
            تقوم بتقديمه أو بإدراجه) هو ملكية لالموجة التالية. ويجب عليك ألا تقوم بإعادة إنتاج أو السماح لأي شخص – لأي
            سبب من الأسباب – باستخدام أو إعادة إنتاج الخدمات أو أي علامات تجارية أو غيرها من الأسماء التجارية
            التي تظهر في الخدمات.</p>
        <h3>الدفع</h3>
        <p>تملك الموجة المركزية الحق في فرض رسوم جديدة على استخدام الخدمة. فإذا قررت الموجة المركزية فرض رسوم جديدة، فإنه سيتم
            إفادتك بذلك وسيتم السماح لك بالاستمرار في العقد أو إنهائه.</p>
        <p>يجوز لالموجة المركزية تعديل أو تحديث الأسعار من وقت لآخر. ويقع على عاتقك مسؤولية البقاء على معرفة بالأسعار
            الحالية للخدمات المقدمة من خلال صفحة الأسعار ويمكن والوصول لها من خلال الصفحة الرئيسية .</p>
        <p>يتوجب عليك دفع قيمة الخدمات إلى الموجة المركزية عن طريق الحوالات البنكية إلى حساباتنا، وذلك فور تقديم الخدمة
            لك. وتتحمل وحدك مسؤولية دفع جميع الرسوم في موعدها وتقر بأن أي مبلغ يُدفع لا يمكن استرداده.</p>
        <p>بموافقتك على شروط المستخدم الماثلة، فإنك توافق على أن أحقية دخولك على البيانات المحفوظة في انظمة
            المؤسسة شريطة ان بكون حسابك نشطاً واشتراكك مدفوع القيمة، وأن عدم دفع المبالغ المستحقة عليك يترتب
            عليه حجب استخدامك للخدمة والبيانات المحفوظة عليها.</p>
        <p>في حال عدم قيامك بدفع قيمة الاشتراك المستحق في خدمات المؤسسة، فإن الموجة المركزية ستمنحك مهلة للسداد أقصاها
            ثلاثين يوماً قبل قيامها بحجب استخدامك للخدمة والبيانات المحفوظة عليها، على أن يتم فوترة هذه المهلة
            من قبل خدمة النظام ودفعها من قبلك كمستخدم.</p>
            <div class="col-md-12 mt-5 text-right">
                <div class="outer page-title text-right h3">
                    <h3>التعويض</h3>
                    <hr class="line" />
    
                </div>
            </div>
        <h6 class="line-height-150">بموافقتك على شروط المستخدم المذكورة واستخدام الخدمة، فإنك توافق على الدفاع عن الموجة المركزية والشركات التابعة
            لها والجهات المرخِّصة لها وكل مسؤول من مسؤوليها ومديريها وغيرهم من المستخدمين والموظفين والمحامين
            والوكلاء وعدم إلحاق الضرر بهم وإبراء ذمتهم من أي مطالبات، تكاليف، أضرار، خسائر، مسؤوليات ومصروفات
            (بما في ذلك أتعاب وتكاليف المحاماة) والتي تنشأ عن أو ترتبط بما يلي:</h6>
        <p>
            1 – انتهاكك أو مخالفتك لأي شرط من شروط المستخدم المذكورة هنا أو لأي قانون أو لوائح معمول بها، سواء
            أشير إليها في شروط وأحكام الاستخدام هذه أم لا.
            <br>2 – انتهاكك لأي حقوق تخص الغير، بما في ذلك مُقدمي الخدمات الذين تنظمهم الموجة التالية.
            <br>3 – إساءة استخدامك للخدمة.
        </p>
        <div class="col-md-12 mt-5 text-right">
            <div class="outer page-title text-right h3">
                <h3>المسؤولية القانونية</h3>
                <hr class="line" />

            </div>
        </div>
        <p>المعلومات والتوصيات والخدمات أو أي منها التي قُدمت لك على أو من خلال مواقع الويب والخدمة ما هي إلا
            لأغراض المعلومات العامة فقط ولا تمثل أي نصيحة. ستحافظ الموجة المركزية قدر الإمكان على صحة وتحديث الموقع
            والخدمة ومحتوياته، لكنها لا تضمن أن (محتويات) الموقع أو الخدمة خالية من الأخطاء أو العيوب أو البرامج
            الضارة والفيروسات ولا تضمن صحة ودقة وتحديث موقع الويب والخدمة.</p>
        <p>لا تتحمل الموجة المركزية المسؤولية عن أي أضرار تنتج عن استخدام (أو عدم القدرة على استخدام) الموقع أو الخدمات،
            بما في ذلك الأضرار التي تسببها البرامج الضارة أو الفيروسات، كما لا تتحمل مسؤولية عدم صحة أو عدم
            اكتمال المعلومات أو موقع الويب أو الخدمة، ما لم يكن هذا الضرر ناتج عن سوء سلوك عمدي أو عن إهمال جسيم
            من جانب الموجة التالية.</p>
        <p>كما لا تتحمل الموجة المركزية أي مسؤولية عن أي أضرار تنتج عن استخدام (أو عدم القدرة على استخدام) وسائل اتصال
            إلكترونية مع الموقع الإلكتروني أو مع الخدمة، مثل ذلك الأضرار الناتجة عن عدم تسليم المخاطبات
            الإلكترونية أو التأخر في تسليمها أو اعتراضها أو التلاعب في المخاطبات الإلكترونية من جانب الغير أو من
            جانب برامج الكمبيوتر المستخدمة للمخاطبات الإلكترونية ونقل الفيروسات.</p>
        <p>تسعى الموجة المركزية قدر الإمكان لتوفير خدماتها الإلكترونية على مدار العام 24 ساعة/7 أيام في الأسبوع، وفي جميع
            الأحوال، فإنها لا تضمن عمل الانظمة والخدمات بشكل كامل طوال العام، وأنه سيكون هناك توقفات لغرض
            الصيانة أو التحديث الدوري أو إضافة خواص جديدة على الخدمة.</p>
            <div class="col-md-12 mt-5 text-right">
                <div class="outer page-title text-right h3">
                    <h3>تعديل الخدمات</h3>
                    <hr class="line" />
    
                </div>
            </div>
        <h6>تحتفظ الموجة المركزية بحقها، وبإرادتها المنفردة، بأن تقوم في أي وقت بالآتي:</h6>
        <p>1- تغيير الخدمات أو أي مواد مرتبطة بها، أو إيقاف نشر خدماتها.
            <br> 2- إذا قامت الموجة المركزية بإيقاف نشر خدماتها، فإنها قد تقوم بإرادتها باستبدال الخدمات بمواد أخرى
            مشابهة.
        </p>
        <div class="col-md-12 mt-5 text-right">
            <div class="outer page-title text-right h3">
                <h3>حدود المسؤولية</h3>
                <hr class="line" />

            </div>
        </div>
        <p>لا تقدم الموجة المركزية أي ضمانات، واضحة أو ضمنية، تتعلق بالخدمات، فهي جميعها يتم تقديمها “كما هي”. وتخلي كور
            تك مسؤوليتها بشكل واضح، إلى أقصى درجة ممكنة وفقاً للقانون عن كافة الضمانات، ومنها: ضمانات الملائمة
            لغرض معين، الملائمة لمواصفات وأسواق معينة، وقابلية حقوق الملكية للبيع، كما أن الموجة المركزية لا تضمن دقة، أو
            محتوى، أو توقيت الخدمات أو النتائج التي قد ينالها أو لا ينالها مستخدم الخدمات. ولن تكون الموجة المركزية أو
            وكلائها أو مانحي التراخيص أو الشركات التابعة لها مسؤولة في أي حال من الأحوال عن الأضرار المباشرة أو
            غير المباشرة أو الجزاءات أو الأضرار الخاصة أو حدوث أضرار عرضية أو تبعية ومنها: الأضرار الناتجة عن
            خسارة الأرباح، تعطل الأعمال، فقدان معلومات الأعمال أو غيرها من الخسائر المالية الناجمة بشكل مباشر أو
            غير مباشر عن الوصول إلى الخدمات واستخدامها (أو الفشل في استخدامها) أو الاعتماد عليها.</p>
        <p>في جميع الأحوال، فإنك بموافقتك على شروط المستخدم هذه تقر بأن حدود مسؤولية الموجة المركزية في الاحتفاظ
            بالبيانات هي ثلاثة أشهر للاشتراكات التجريبية، وسنتين للاشتراكات المدفوعة، وأن لالموجة المركزية بعد ذلك الحق
            في حذف هذه البيانات كلياً من خدمتها والتخلص منها بالطريقة التي تراها الموجة المركزية مناسبة.</p>
        
            <div class="col-md-12 mt-5 text-right">
                <div class="outer page-title text-right h3">
 
                  <h3>الأمان</h3>
                <hr class="line" />
    
                </div>
            </div> 
        <p>إنك تقر بتحملك المسؤولية منفرداً عن خصوصية الخدمات، وتكون مسؤولاً منفرداً عن استخدامها من قبل أي شخص
            آخر باستخدام حسابك و/أو اسم المستخدم أو كلمة المرور أو مسوغات الوصول الخاصة بك. كما أنك توافق على
            إخطار الموجة المركزية إذا أصبحت على علم بأي خسارة، أو سرقة، أو استخدام غير مصرح به لأي كلمة مرور، أو اسم
            مستخدم أو عنوان بروتوكول الإنترنت IP، أو غير ذلك من أساليب الوصول إلى الخدمات.</p>
            <div class="col-md-12 mt-5 text-right">
                <div class="outer page-title text-right h3">
              
                <h3>التعاملات مع الغير</h3>
                <hr class="line" />
    
                </div>
            </div> 
        <p>أثناء استخدام موقع الويب والخدمات، قد يتم من وقت إلى آخر توفير ارتباطات لمواقع ويب يمتلكها ويتحكم بها
            الغير من أجل مراسلة الغير أو شراء منتجات أو خدمات منه أو المشاركة في العروض الترويجية التي يقدمها.
            تنتقل بك تلك الارتباطات إلى خارج الموقع والخدمة، وهي خارج نطاق سيطرة الموجة التالية.</p>
        <p>أثناء استخدامك لموقع الويب والخدمة، قد تراسل أو تشتري بضائع أو خدمات أو تشارك في عروض ترويجية مقدمة
            من مقدمي خدمات أو مُعلنين أو جهات راعية تعرض بضائعها أو خدماتها عبر ارتباط على موقع الويب أو من خلال
            الخدمة. تنتقل بك تلك الارتباطات إلى خارج الموقع والخدمة، وهي خارج نطاق سيطرة الموجة التالية. إن مواقع الويب
            التي يمكنك الارتباط بها لها شروط وأحكام مستقلة وكذلك سياسة خصوصية مستقلة. ولا تتحمل الموجة المركزية أي
            مسؤولية عن محتوى مواقع الويب تلك وأنشطتها ولا يمكن مساءلتها عنها. ولذلك، فإنك تتحمل كامل المخاطر
            التي تنتج عن زيارة تلك المواقع أو دخولها.</p>
        <p>يُرجى ملاحظة أن تلك المواقع الأخرى قد ترسل ملفات تعريف الارتباط الخاصة بها إلى المستخدمين أو تجمع
            بياناتهم أو تطلب معلومات شخصية، ومن ثم، نوصيك بالتحقق من شروط الاستخدام أو سياسات الخصوصية الموجودة
            على تلك المواقع قبل استخدامها.</p>
            <div class="col-md-12 mt-5 text-right">
                <div class="outer page-title text-right h3">
                 
                <h3>مدة العقد و إنهائه</h3>
                <hr class="line" />
    
                </div>
            </div> 
        <p>يكون العقد المُبرم بينك وبين الموجة المركزية غير محدد المدة. ويحق لك إنهاء العقد بأن تغلق حساب المستخدم الخاص
            بك في أي وقت.</p>
        <h6>يحق لالموجة المركزية انهاء العقد بأثر فوري في أي وقت (بتعطيل استخدامك للخدمة)، وذلك في حالة قيامك بأي مما
            يلي:</h6>
        <p>
            (أ) انتهاك أو خرق أي شرط من شروط المُستخدم.
            <br> (ب) إذا وجدت الموجة المركزية أنك تسيء استخدام الخدمة.

            <br> (ج) لأي سبب خاضع لتقدير الموجة المركزية للمحافظة على خدماتها.

            <br> كما أن الموجة المركزية غير ملزمة بإرسال سابق إخطار بإنهاء العقد.
        </p>
        <div class="col-md-12 mt-5 text-right">
            <div class="outer page-title text-right h3">
              
            <h3>بُطلان حكم أو أكثر</h3>
            <hr class="line" />

            </div>
            </div>
        <p>لا يؤثر بطلان أي حكم من أحكام شروط المستخدم المذكورة على صحة باقي الأحكام الأخرى الواردة فيها.
            في حالة وجود أي حكم باطل في شروط المستخدم المذكورة أو وجود حكم غير مقبول في ظروف معينة وفقًا لمعايير
            المعقولية والعدالة وإلى هذا المدى فقط، يُعمل بدلاً منه بين الطرفين بحكم يكون مقبولاً مراعاةً لجميع
            الظروف ويتوافق مع أحكام الشرط الباطل قدر الإمكان، مع مراعاة محتوى شروط المستخدم الماثلة وغرضها.
        </p>
        <div class="col-md-12 mt-5 text-right">
            <div class="outer page-title text-right h3">
        <h3>تعديل الخدمة وشروط المستخدم</h3>
            <hr class="line" />
</div>
            </div>

        <p>تحتفظ الموجة المركزية لنفسها بالحق، وفقًا لتقديرها وحدها، في تعديل أي شرط من شروط المستخدم الماثلة أو
            استبداله، أو تغيير الخدمة أو تعليقها أو إيقافها (بما في ذلك على سبيل المثال لا الحصر، توفير أي ميزة
            أو قاعدة بيانات أو محتوى) في أي وقت، وذلك بنشر إخطار على الموقع أو بإرسال إخطار لك من خلال الخدمة أو
            عبر البريد الإلكتروني. كما يجوز لالموجة المركزية أن تضع قيودًا على ميزات وخدمات مُعيَّنة أو تحد من وصولك إلى
            أجزاء من الخدمة أو الخدمة بأكملها دون إخطار أو مسؤولية.</p>
            <div class="col-md-12 mt-5 text-right">
                <div class="outer page-title text-right h3">
                <h3>الإخطار</h3>
                <hr class="line" />
</div>    
                </div>
        <p>يجوز لالموجة المركزية أن ترسل إخطارًا عن طريق إرسال إخطار عام عن الخدمة، أو بإرسال بريد إلكتروني إلى عنوانك
            البريدي المُسجل في معلومات الحساب لدى الموجة التالية، أو بإرسال مكاتبة بالبريد العادي على عنوانك المسجل في
            معلومات الحساب لدى الموجة التالية.</p>
            <div class="col-md-12 mt-5 text-right">
                <div class="outer page-title text-right h3">
        <h3>القانون المعمول به وحل النزاعات</h3>
                <hr class="line" />
</div>    
                </div>
        <p>تخضع شروط المستخدم المذكورة ويطبق على تسوية أي نزاع أو مطالبة أو خلاف ينشأ عن شروط المستخدم المذكورة
            أو يتعلق بها أو أي انتهاك لها أو إنهائها أو تنفيذها أو تفسيرها أو صحتها أو استخدام الموقع أو الخدمة،
            للقوانين والأنظمة المطبقة في المملكة العربية السعودية وتفسر وفقاً لها.</p>
    </div>


</div>
</div>
{% endblock content %}
