{% extends 'website/coretech/_base.html' %}
{% load static %}
    
    {% block content %}
    <!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper " style="  background: linear-gradient(to top, #3c3369ba, #4c4779cc), url("website/coretech/assets/img/breadcum/istockphoto-1360521208-170667a.jpg") no-repeat  ;  background-attachment: fixed;">
    <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">  خدماتنا
                </h1>
                <ul class="breadcumb-menu">
                    <li><a href="index.html">الصفحة الرئيسية</a></li>
                    <li>  
                        خدماتنا
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--==============================
    Service Area  
    ==============================-->
    <section class="space" >
        <div class="container ">
            <div class="col-md-6 col-xl-4">
             
                <div class="service-grid">
                   
                    <div class="service-grid_icon">
                        <img src="{% static 'website/coretech/assets/img/icon/service_1_1.svg' %}" alt="Icon">
                    </div>
                    <h3 class="service-grid_title"><a href="#">التسويق الرقمي</a></h3>
                    <p class="service-grid_text">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
                    <a href="#" class="service-grid_btn">اقرا المزيد</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-grid">
                    
                    <div class="service-grid_icon">
                        <img src="{% static 'website/coretech/assets/img/icon/service_1_2.svg' %}" alt="Icon">
                    </div>
                    <h3 class="service-grid_title"><a href="#">الادارة والتسويق لمواقع التواصل الاجتماعي</a></h3>
                    <p class="service-grid_text">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
                    <a href="#" class="service-grid_btn">اقرا المزيد</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-grid">
                     
                    <div class="service-grid_icon">
                        <img src="{% static 'website/coretech/assets/img/icon/service_1_3.svg' %}" alt="Icon">
                    </div>
                    <h3 class="service-grid_title"><a href="#">ٍُSEO-تطوير محركات البحث</a></h3>
                    <p class="service-grid_text"  >هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
                    <a href="#" class="service-grid_btn">اقرا المزيد</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-grid">
                    
                    <div class="service-grid_icon">
                        <img src="{% static 'website/coretech/assets/img/icon/service_1_4.svg' %}" alt="Icon">
                    </div>
                    <h3 class="service-grid_title"><a href="#" > تطوير المواقع الالكترونية والتطبيقات</a></h3>
                    <p class="service-grid_text">
                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى
                    </p>
                    <a href="#" class="service-grid_btn">اقرا المزيد</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-grid">
                   
                    <div class="service-grid_icon">
                        <img src="{% static 'website/coretech/assets/img/icon/service_1_5.svg' %}" alt="Icon">
                    </div>
                    <h3 class="service-grid_title"><a href="#">  التجارة الالكترونية وبوابات الويب </a></h3>
                    <p class="service-grid_text">
                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى
                    </p>
                    <a href="#" class="service-grid_btn">اقرا المزيد</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-grid">
                    
                    <div class="service-grid_icon">
                        <img src="{% static 'website/coretech/assets/img/icon/service_3_11.svg' %}" alt="Icon">
                    </div>
                    <h3 class="service-grid_title"><a href="#">  استضافة المواقع الالكترونية    </a></h3>
                    <p class="service-grid_text">
                        هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى
                    </p>
                    <a href="#" class="service-grid_btn">اقرا المزيد</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-grid">
                    
                    <div class="service-grid_icon">
                        <img src="{% static 'website/coretech/assets/img/icon/service_3_10.svg' %}" alt="Icon">
                    </div>
                    <h3 class="service-grid_title"><a href="#">     حلول وتطوير البرمجيات           </a></h3>
                    <p class="service-grid_text">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
                    <a href="#" class="service-grid_btn">اقرا المزيد</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-grid">
                    
                    <div class="service-grid_icon">
                        <img src="{% static 'website/coretech/assets/img/icon/service_3_4.svg' %}" alt="Icon">
                    </div>
                    <h3 class="service-grid_title"><a href="#">        التصميم للشعارات والهوية البصرية وفيديوهات  الرسوم المتحركة              </a></h3>
                    <p class="service-grid_text">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
                    <a href="#" class="service-grid_btn">اقرا المزيد</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-grid">
                     
                    <div class="service-grid_icon">
                        <img src="{% static 'website/coretech/assets/img/icon/service_3_13.svg' %}" alt="Icon">
                    </div>
                    <h3 class="service-grid_title"><a href="#">                 خدمة رعاية العملاء ودعم إدارة مجتمع وسائل التواصل الاجتماعي                    </a></h3>
                    <p class="service-grid_text">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
                    <a href="#" class="service-grid_btn">اقرا المزيد</a>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service-grid">
                     
                    <div class="service-grid_icon">
                        <img src="{% static 'website/coretech/assets/img/icon/service_3_2.svg' %}" alt="Icon">
                    </div>
                    <h3 class="service-grid_title"><a href="#">                              خدمات الانظمة السحابية لادارة موارد الشركات ERP                      </a></h3>
                    <p class="service-grid_text">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
                    <a href="#" class="service-grid_btn">اقرا المزيد</a>
                </div>
            </div>
            <div class="row gy-40 justify-content-center d-flex">
                <div class="col-md-6 col-xl-4">
                    <div class="service-grid">
                        
                        <div class="service-grid_icon">
                            <img src="{% static 'website/coretech/assets/img/icon/service_1_1.svg' %}" alt="Icon">
                        </div>
                        <h3 class="service-grid_title"><a href="#">التسويق الرقمي</a></h3>
                        <p class="service-grid_text">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
                        <a href="#" class="service-grid_btn">اقرا المزيد</a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-grid">
                        
                        <div class="service-grid_icon">
                            <img src="{% static 'website/coretech/assets/img/icon/service_1_2.svg' %}" alt="Icon">
                        </div>
                        <h3 class="service-grid_title"><a href="#">الادارة والتسويق لمواقع التواصل الاجتماعي</a></h3>
                        <p class="service-grid_text">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
                        <a href="#" class="service-grid_btn">اقرا المزيد</a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-grid">
                        
                        <div class="service-grid_icon">
                            <img src="{% static 'website/coretech/assets/img/icon/service_1_3.svg' %}" alt="Icon">
                        </div>
                        <h3 class="service-grid_title"><a href="#">ٍُSEO-تطوير محركات البحث</a></h3>
                        <p class="service-grid_text"  >هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
                        <a href="#" class="service-grid_btn">اقرا المزيد</a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-grid">
                        
                        <div class="service-grid_icon">
                            <img src="{% static 'website/coretech/assets/img/icon/service_1_4.svg' %}" alt="Icon">
                        </div>
                        <h3 class="service-grid_title"><a href="#" > تطوير المواقع الالكترونية والتطبيقات</a></h3>
                        <p class="service-grid_text">
                            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى
                        </p>
                        <a href="#" class="service-grid_btn">اقرا المزيد</a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-grid">
                        
                        <div class="service-grid_icon">
                            <img src="{% static 'website/coretech/assets/img/icon/service_1_5.svg' %}" alt="Icon">
                        </div>
                        <h3 class="service-grid_title"><a href="#">  التجارة الالكترونية وبوابات الويب </a></h3>
                        <p class="service-grid_text">
                            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى
                        </p>
                        <a href="#" class="service-grid_btn">اقرا المزيد</a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-grid">
                        
                        <div class="service-grid_icon">
                            <img src="{% static 'website/coretech/assets/img/icon/service_3_11.svg' %}" alt="Icon">
                        </div>
                        <h3 class="service-grid_title"><a href="#">  استضافة المواقع الالكترونية    </a></h3>
                        <p class="service-grid_text">
                            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى
                        </p>
                        <a href="#" class="service-grid_btn">اقرا المزيد</a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-grid">
                        
                        <div class="service-grid_icon">
                            <img src="{% static 'website/coretech/assets/img/icon/service_3_10.svg' %}" alt="Icon">
                        </div>
                        <h3 class="service-grid_title"><a href="#">     حلول وتطوير البرمجيات           </a></h3>
                        <p class="service-grid_text">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
                        <a href="#" class="service-grid_btn">اقرا المزيد</a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-grid">
                      
                        <div class="service-grid_icon">
                            <img src="{% static 'website/coretech/assets/img/icon/service_3_4.svg' %}" alt="Icon">
                        </div>
                        <h3 class="service-grid_title"><a href="#">        التصميم للشعارات والهوية البصرية وفيديوهات  الرسوم المتحركة              </a></h3>
                        <p class="service-grid_text">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
                        <a href="#" class="service-grid_btn">اقرا المزيد</a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-grid">
                        
                        <div class="service-grid_icon">
                            <img src="{% static 'website/coretech/assets/img/icon/service_3_13.svg' %}" alt="Icon">
                        </div>
                        <h3 class="service-grid_title"><a href="#">                 خدمة رعاية العملاء ودعم إدارة مجتمع وسائل التواصل الاجتماعي                    </a></h3>
                        <p class="service-grid_text">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
                        <a href="#" class="service-grid_btn">اقرا المزيد</a>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="service-grid">
                       
                        <div class="service-grid_icon">
                            <img src="{% static 'website/coretech/assets/img/icon/service_3_2.svg' %}" alt="Icon">
                        </div>
                        <h3 class="service-grid_title"><a href="#">                              خدمات الانظمة السحابية لادارة موارد الشركات ERP                      </a></h3>
                        <p class="service-grid_text">هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى</p>
                        <a href="#" class="service-grid_btn">اقرا المزيد</a>
                    </div>
                </div>
            </div>
            <!-- <div class="text-center mt-5">
                <a href="#" class="as-btn">المزيد من الخدمات</a>
            </div> -->
        </div>
    </section>
    <section class="space">
        <div class="container">
            <div class="cta-wrap" >
                <div class="row gx-0 align-items-center">
                    <div class="col-lg text-center text-lg-start">
                        <h5 class="mb-10 mt-n2 text-right">
                            احصل على جلسة مجانية تقدر قيمتها بـ 1,000 ريال سعودي خاصة بالاستراتيجية لمدة 30 دقيقة مع مسوق رقمي خبير.
    
                        </h5>
                        <p class="mb-n3">الفرص المتاحة محدودة!
                        </p>
                    </div>
                    <div class="col-lg-auto mt-35 mt-lg-0">
                        <div class="text-center">
                            <a href="contact-rtl.html" class="as-btn style3">احصل على 30 دقيقة مجانية</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   {% endblock %}