{% extends 'website/coretech/_base.html' %}
{% block title %}                 الادارة والتسويق لمواقع التواصل الاجتماعي
{% endblock title %}

{% load static %}
{% block content %}
<!--==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper " style="  background: linear-gradient(to top, #3c3369ba, #4c4779cc), url({%static 'website/coretech/assets/img/breadcum/media-g4e908acc5_1920.jpg'%}) no-repeat;">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">
                الادارة والتسويق لمواقع التواصل الاجتماعي
            </h1>
            <ul class="breadcumb-menu">
                <li><a href="{% url 'website:website_index' %}">الصفحة الرئيسية</a></li>
                <li>
                    الادارة والتسويق لمواقع التواصل الاجتماعي

                </li>
            </ul>
        </div>
    </div>
</div>
<!--==============================
    Service Area
==============================-->
<section class="mt-5 mb-3">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12 col-lg-12">
                <div class="page-single">
              
                    <div class="page-content">
                        <h2 class="h3 page-title"> الادارة والتسويق لمواقع التواصل الاجتماعي</h2>
                        <p>
                            هذه الخدمة لك سواء كنت صاحب نشاط تجاري أو صاحب تطبيق أو صاحب متجر الكتروني أو لديك فكرة تريد
                            أن تصل بها إلى أرض الواقع بحرفية عالية وحضور قوي .
                            أي نشاط تجاري مهما كانت فكرته يحتاج للتطوير ، المرونة ، امتلاك وسائل الإقناع الكافية للعملاء
                            ، بناء الثقة مع الشريحة المستهدفة ، شخصية ثابتة في أذهان العملاء لا تُنسى ، زيادة مبيعات ،
                            توسع ، دخول أسواق جديدة منفتحة على العالم ، التصدر بين قوائم المنافسين في المجال .
                            تنفيذ الفكرة ليست النهاية بل هي بداية البداية للوصول إلى المستويات العُليا من المنافسة
                            والنجاح والحرفية في العمل ؛ نحن في أوامر الشبكة معك خطوة بخطوة ويداً بيد لحين استحواذك على
                            المكانة التي تأمل لها .
                        </p>

                        <!--==============================
Project Area  
==============================-->


                        <!--==============================
    Price Area  
   ==============================-->

                    </div>

                </div>
            </div>
</section>

<section class="bg-auto mt-2" id="testiSec2">

    <div class="bg-blue w-100"
        style="    padding: 20px 0;background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 99%);">
        <div class="container">
            <div class="row gy-4">
                <div class="col-md-4">
                    <div class="sdlo_rs"> <img decoding="async"
                            src="{%static 'website/coretech/assets/img/service/abstract-illustration-person-creating-social-media-post_52683-62407.jpg'%}">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="ikdf_ork"> <strong>ما هو التسويق عبر وسائل التواصل الاجتماعي (الفيس بوك
                            وانستغرام)؟</strong>
                        <p></p>
                        <p>يمكن تعريف التسويق عبر مواقع التواصل الاجتماعي على أنه عملية استخدام المواقع الأكثر شهرة
                            كالفيس بوك والانسقرام للتواصل مع الجمهور المستهدف، تتم عملية التسوق عبر الفيس بوك
                            والانستغرام عن طريق نشر محتوى جذاب وملفت للنظر، وعليه تضمن متابعة الجمهور لمحتواك وقد يتحول
                            الزائر أو القارئ للمحتوى إلى عميل فعلي للمنتجات أو الخدمات التي تقوم بتقديمها.</p>
                        <p>يعد التسويق على     التواصل الاجتماعي      واحد من أكثر طرق التسويق انتشارا وأسرعها، إن نشاطك على
                            القنوات الاجتماعية يُظهر أن أعمالك التجارية محدثة وجديدة وملائمة لاحتياجات الجمهور، مما يزيد
                            من مشاركات العملاء الحاليين والجدد، وعلى النقيض من ذلك فإن الأعمال التجارية التي تهمل وجودها
                            على القنوات الاجتماعية لن تعكس الصورة الصحيحة والرائعة لنشاطها التجاري.</p>
                        <p>لضمان تحقيق النتائج المرجوة من عملية التسويق على الانسغرام والفيس بوك وغيرها من منصات التواصل
                            دائما ما ينصح بالاستعانة بأحد الوكالات المعتمدة لإدارة هذه الصفحات، يمكن لفريق التسويق
                            المحترف أن ينشئ مزيجا مثاليا ما بين الأفكار الداخلية والخارجية لتقديم محتوى مناسب للجمهور
                            ويلبي متطلبات التسويق.</p>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-8 order-2-custom">
                    <div class="ikdf_ork"> <strong></strong>
                        <p></p>
                        <p>في ظل التطور الذي يشهده مجال التسويق تعد وسائل التواصل الاجتماعي كالفيس بوك والانسقرام من
                            المنصات الرئيسية ذات التأثير الهائل على الزبائن والعلامات التجارية على حد سواء، ومما يدل على
                            ذلك استخدام ما يزيد عن 4.2 مليار مستخدم نشط للفيس بوك وانستغرام معا</p>
                        <p>تظهر حكمة الشركات في عملية التسويق باتخاذها لقرار عرض نماذج أعمالها على منصات التواصل
                            الاجتماعي من أشهرها الفيس بوك وانستغرام، وذلك من منطلق تزايد قوة هذه المنصات ووجود ما يزيد
                            على 57% من الزبائن الذين يتابعون حسابات المنصات الاجتماعية للعلامة التجارية للتعرف على ما
                            تقدمه من منتجات أو خدمات جديدة.</p>
                        <p>على الرغم من إدراك الشركات لأهمية التسويق على     التواصل الاجتماعي      إلا أن بعض الشركات قد
                            تقوم بنشر محتوى غير استراتيجي أو تقع في فخ إهمال هذه الحسابات، وهنا تظهر أهمية إدارة وسائل
                            التواصل الاجتماعي.</p>
                        <p></p>
                    </div>
                </div>
                <div class="col-md-4 order-1-custom">
                    <div class="sdlo_rs"> <img decoding="async"
                            src="{%static 'website/coretech/assets/img/service/abstract-illustration-person-talking-with-teammates_52683-62409.jpg'%}
                            ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="bg-auto mt-4" id="testiSec2">

        <div class="bg-blue w-100"
            style="    padding: 20px 0;background: linear-gradient(90deg, rgb(239, 239, 239) 0%, rgb(232, 232, 232) 99%);">
            <div class="container">
                <div class="title-area text-center mt-5">
                    <h3 class="sec-title">ما هي المزايا التي تحققها من إدراة حسابات     التواصل الاجتماعي     ؟ </h3>
                </div>
                <div class="row mt-5 mb-5 gy-4">
                    <div class="col-md-4">
                        <div class="sdlk_plew text-center"> <span class="sdki_ico "><i
                                    class="fa-regular fa-chart-line-up"></i> </span>
                            <div class="asdi_pcpnt">
                                <h5 style="text-align:center">زيادة الظهور</h5>
                                <p>يرتبط ظهور النشاط التجاري على فيس بوك وانستغرام بمستوى نشاط فريق التسويق وقدرته على
                                    نشر المحتوى،</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sdlk_plew text-center"> <span class="sdki_ico "> <i class="fa-solid fa-award"></i>
                            </span>
                            <div class="asdi_pcpnt">
                                <h5 style="text-align:center">تحسين الوعي بالعلامة التجارية</h5>
                                <p>تعد وسائل التواصل بشكل عام والانستغرام والفيس بوك بشكل خاص واحدة من الأدوات التسويقية
                                    الهامة للمساعدة على زيادة الوعي بالعلامة التجارية</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sdlk_plew text-center"> <span class="sdki_ico "> <i
                                    class="fa-regular fa-thumbs-up"></i> </span>
                            <div class="asdi_pcpnt">
                                <h5 style="text-align:center">زيادة تفاعل المستخدم</h5>
                                <p>شير القاعدة العامة في الأعمال إلى أنه كلما زاد عدد الأشخاص الذين يتعاملون مع شركة ما
                                    فإنه سيكون لهم تأثير مباشر على كل من زيادة التواجد والوعي بالعلامة التجارية</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>


    </section>
    <div class="container">
        <div class="title-area text-center">
            <h4 class="sec-title">قام خبراؤنا المتمرسون في مجال التسويق على الادارة والتسويق لمواقع التواصل الاجتماعي
                ببناء شخصية علامة تجارية من الألف إلى الياء
            </h4>
        </div>

        <div class="row mt-4-bottom" data-slide-show="2" data-lg-slide-show="2" data-md-slide-show="1"
            data-xs-slide-show="1" data-arrows="true">

            <div class="col-md-8 mt-auto  order-2-custom mb-auto">
                <div class=" testi-card_content">


                    <p class="testi-card_text">
                        نفخر في الموجة التالية بما يقدمه فريقنا المختص في التسويق من خدمات لعملائه من بينها بناء ورعاية وجودهم
                        على منصات التسويق الهامة كالانستقرام والفيس بوك، إلى جانب إنشاء حملة تسويقية شاملة قادرة على
                        الوصول إلى الجمهور المستهدف.

                    </p>

                </div>
            </div>
            <div class="col-lg-4 order-1-custom">
                <div class="sdlo_rs text-center"> <img decoding="async"
                        src="{%static 'website/coretech/assets/img/service/abstract-illustration-person-talking-with-teammates_52683-62408.jpg'%}
                        ">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sdlo_rs text-center"> <img decoding="async"
                        src="{%static 'website/coretech/assets/img/service/facebook-post-illustration-notifications_23-2149024883.jpg'%}
                        "></div>
            </div>
            <div class="col-md-8 mt-auto mb-auto">
                <div class=" testi-card_content">


                    <p class="testi-card_text">
                        يعمل فريقنا من خبراء التسويق عبر وسائل التواصل الاجتماعي على مساعدة كل عميل في تمكين تواجده على
                        المنصات الهامة كفيس بوك وانستغرام وغيرها واستخدامها بأفضل طريقة ممكنة للتفاعل مع جماهيره
                        المتنوعة، ويساعدنا في ذلك خبرتنا الممتدة على مدار العشر سنوات في مجال التسويق الالكتروني وما
                        قدمناه من عمل ناجح للشركات الكبيرة والناشئة.


                    </p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="title-area text-center mt-5">
                    <h2 class="sec-title">
                        ما نقدمه كجزء من إدارة وسائل التواصل الاجتماعي </h2>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4 mt-3">
                <div class="service-card" style=" min-height: 265px;">
                    <div class="service-card_icon">
                        <i class="fa-light fa-file-lines"></i>
                    </div>
                    <h3 class="service-card_title">
                        محتوى لمناسبات معينة

                    </h3>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4 mt-3">
                <div class="service-card" style=" min-height: 265px;">
                    <div class="service-card_icon">
                        <i class="fa-regular fa-file-pen"></i>
                    </div>
                    <h3 class="service-card_title">
                        إدارة المحتوى و تفاعلات العملاء

                    </h3>

                </div>
            </div>

            <div class="col-sm-6 col-lg-4 col-xl-4 mt-3">
                <div class="service-card" style=" min-height: 265px;">
                    <div class="service-card_icon">
                        <i class="fa-regular fa-timer"></i>
                    </div>
                    <h3 class="service-card_title">
                        جدولة النشر

                    </h3>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4 mt-3">
                <div class="service-card" style=" min-height: 265px;">
                    <div class="service-card_icon">
                        <i class="fa-light fa-file"></i>
                    </div>
                    <h3 class="service-card_title">
                        محتوى فريد لمواقع التواصل الاجتماعي


                    </h3>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4 mt-3">
                <div class="service-card" style=" min-height: 265px;">
                    <div class="service-card_icon">
                        <i class="fa-regular fa-bullseye-pointer"></i>
                    </div>
                    <h3 class="service-card_title">
                        رؤى الجمهور

                    </h3>

                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-4 mt-3">
                <div class="service-card" style=" min-height: 265px;">
                    <div class="service-card_icon">
                        <i class="fa-light fa-bullseye"></i>
                    </div>
                    <h3 class="service-card_title">
                        استراتيجيات شخصية العلامة التجارية

                    </h3>

                </div>
            </div>

        </div>

    </div>
</section>
<section class="mt-2">
    <div class="cta-wrap">
        <div class="container">
            <div class="row w-100 gx-0 align-items-center">
                <div class="col-lg text-center text-lg-start">
                    <h5 class="mb-10 mt-n2 text-right">
                        للحصول على إدارة لصفحة شركتك على مواقع التواصل الاجتماعي
                    </h5>

                </div>
                <div class="col-lg-auto mt-35 mt-lg-0">
                    <div class="text-center">
                        <a href="{% url 'website:request-service' category="marketing" %}"
                        class="as-btn style3"
       >اطلب الخدمة</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
           <div class="modal-title " id="exampleModalLabel">
            <img src="{%static 'website/coretech/assets/img/logo.png'%}" class="img-95px"> 

           </div>
           <h5 class="mr-5">
                اطلب الخدمة المطلوبة وسيتم التواصل معك
           </h5>
           <button type="button"
                   class="btn-close"
                   data-bs-dismiss="modal"
                   aria-label="Close">
           </button>
          </div>
     <div class="modal-body">
      <form action="#" method="POST" class=" ">
       <div class="row">
        <div class="form-group col-md-6">
         <input type="text"
                class="form-control"
                name="name"
                id="name"
                placeholder="الاسم">
         <i class="fal fa-user"></i>
        </div>
        <div class="form-group  col-md-6">
         <input type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="عنوان البريد الإلكتروني">
         <i class="fal fa-envelope"></i>
        </div>
        <div class="form-group  col-md-6">
         <input type="number"
                class="form-control"
                name="phone"
                id="phone"
                placeholder="رقم الهاتف">
         <i class="fal fa-phone"></i>
        </div>
        <div class="form-group  col-md-6">
         <input type="text"
                class="form-control"
                name="company"
                id="company"
                placeholder="اسم الشركة/ المؤسسة ">
         <i class="fal fa-comment"></i>
        </div>
        <div class="form-group col-12">
           اختر الخدمة المطلوبة
           <div class="row">
               <div class="col-md-6">
                   <div class="form-check mt-3">
                       <input class="form-check-input" type="checkbox" value=""
                           id="ip">
                       <label class="form-check-label" for="ip">
                           نظام ادارة المؤسسات والشركات
                       </label>
                   </div>
               </div>
               <div class="col-md-6">
                   <div class="form-check mt-3">
                       <input class="form-check-input" type="checkbox" value=""
                           id="io">
                       <label class="form-check-label" for="io">
                           التسويق الالكتروني
                       </label>
                   </div>
               </div>
               <div class="col-md-6">
                   <div class="form-check mt-3">
                       <input class="form-check-input" type="checkbox" value=""
                           id="po">
                       <label class="form-check-label" for="po">
                           تصميم المواقع الالكترونية والتطبيقات
                       </label>
                   </div>
               </div>
               <div class="col-md-6">
                   <div class="form-check mt-3">
                       <input class="form-check-input" type="checkbox" value=""
                           id="pu">
                       <label class="form-check-label" for="pu">
                           استضافة المواقع والبريد الالكتروني
                       </label>
                   </div>
               </div>
               <div class="col-md-6">
                   <div class="form-check mt-3">
                       <input class="form-check-input" type="checkbox" value=""
                           id="pl">
                       <label class="form-check-label" for="pl">
                           التصاميم والجرافكس
                       </label>
                   </div>
               </div>
               <div class="col-md-6">
 
                   <div class="form-check mt-3">
                       <input class="form-check-input" type="checkbox" value=""
                           id="ps">
                       <label class="form-check-label" for="ps">
                           إدارة السوشيال ميديا
                       </label>
                   </div>
               </div>
           </div>
 
       </div>
        <div class="form-btn col-12">
         <button class="as-btn">
          ارسل الخدمة
         </button>
        </div>
       </div>
       <p class="form-messages mb-0 mt-3">
       </p>
      </form>
     </div>
    </div>
   </div>
</div>
<!--==============================
	Footer Area
==============================-->
{% endblock content %}