{% extends 'website/coretech/_base.html' %}
{% block title %}  شكرا لثقتكم بنا{% endblock title %}
{% load static %}
{% block content %}
    <!--==============================
    Breadcumb
============================== -->
    <div class="breadcumb-wrapper background-about" style="background: linear-gradient(to top, #3c3369ba, #4c4779cc), url({% static 'website/coretech/assets/img/breadcum/istockphoto-1221653457-170667a.jpg' %}) no-repeat;">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title"> شكرا  
                </h1>
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'website:website_index' %}">الصفحة الرئيسية</a></li>
                    <li> شكرا
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--======== / Hero Section ========-->
    <!--==============================
    About Area  
    ==============================-->
    <div class="overflow-hidden space">
        <div class="container">
            <div class="row align-items-center">
                
                <h4>تم تلقي طلبكم بنجاج... سيتم التواصل معكم باقرب وقت ممكن</h4>
            </div>
        </div>
    </div>
    
    {% endblock content %}