{% extends 'website/coretech/_base.html' %}
{% load static %}
    
    {% block content %}
    <!--==============================
    Hero Area
    ==============================-->
    <div class="breadcumb-wrapper " style="  background: linear-gradient(to top, #3c3369ba, #4c4779cc), url({%static 'website/coretech/assets/img/breadcum/istockphoto-1133924836-170667a.jpg'%}) no-repeat  ;  background-attachment: fixed;">
        <div class="container">
            <div class="breadcumb-content">
                <h1 class="breadcumb-title">
                    تصميم المواقع الالكترونية والتطبيقات                     
                       </h1>
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'website:website_index' %}">الصفحة الرئيسية</a></li>
                    <li>  
                        تصميم المواقع الالكترونية والتطبيقات                 
                       </li>
                </ul>
            </div>
        </div>
    </div>
    <!--==============================
    Breadcumb
============================== -->

    <!--==============================
    Service Area
==============================-->
    <section class="mt-5 ">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12 col-lg-12">
                    <div class="page-single">
                        <!-- <div class="page-img">
                            <img src="{% static 'website/coretech/assets/img/service/service_details_1.jpg' %}" alt="Service Image">
                        </div> -->
                        <div class="page-content">
                           <div class="row">
                            <div class="col-md-4">
                                    <img src="{% static 'website/coretech/assets/img/service/websitedevelopment.svg' %}" width="250">
                            </div>
                            <div class="col-md-8">
                                <h2 class="h3 page-title">
                                    تطوير المواقع الالكترونية
                                                            </h2>
                                <p>
                                    العالم أصبح يعيش داخل الإنترنت ، و أنت ما لذي يؤخرك حتى الآن عنهم ..!؟
                                    اصنع مجتمعك الخاص بنشاطك التجاري على الإنترنت وقم بتصميم موقعك مع افضل شركة تصميم مواقع و اجعله مزاراً للكثير من العملاء ، اجعل منه مقراً عالمياً يسهل الوصول إليه في أي زمان و من أي مكان .إذا كنت تحلمُ بأن يصبح نشاطك التجاري في كل منزل ، و في متناول الجميع ، فقد وصلت للمكان الصحيح ، مع ماتيس أنت تبني موقعك بثقة و أمان .
                                    
                                                                </p>
                            </div>
                           </div>

                          <!--==============================
Project Area  
==============================-->

                            
                            <!--==============================
    Price Area  
   ==============================-->
 
                </div>
               
            </div>
            <br>
       
        </div>
    </section>
    <section class="mt-3 container">
        <h2 class="h3 page-title mb-5 text-center">
            أهم ميزات تصميم موقع إلكتروني

        </h2>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3 mb-5 col-xl-3">
                <div class="service-card">
                    <div class="service-card_icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                                        </div>
                    <h3 class="service-card_title">متوافق مع محركات البحث
                    </h3>
                    <p class="service-card_text">
                        نتبع المعايير القياسية لجوجل لإجراء اعدادات تحسين محركات البحث لموقعك حتى تتمكن من تحسينه لمحركات البحث و الظهور في المراتب الاولى لجوجل
    
                    </p>
                </div>
            </div>
    
            <div class="col-sm-6 col-lg-3 mb-5 col-xl-3">
                <div class="service-card">
                    <div class="service-card_icon">
                        <i class="fa-solid fa-browser"></i>
                                        </div>
                    <h3 class="service-card_title">   
                        تصميم مواقع مخصصة

                    </h3>
                    <p class="service-card_text">
                        نقوم بتصميم مواقع فريدة و معدلة حسب احتياجات و متطلبات كل عميل

    
                    </p>
                </div>
            </div>
    
            <div class="col-sm-6 col-lg-3 mb-5 col-xl-3">
                <div class="service-card">
                    <div class="service-card_icon">
                        <i class="fa-regular fa-laptop-mobile"></i>
                                        </div>
                    <h3 class="service-card_title">   
                        متناسق مع كل الاجهزة

                    </h3>
                    <p class="service-card_text">
                        موقعك الإلكتروني متوافق مع شاشات الجوال و التابلت و الكمبيوتر بحيث يشعر زائر موقعك بالراحة
                        و سهولة التصفح
    
                    </p>
                </div>
            </div>
    
            <div class="col-sm-6 col-lg-3 mb-5 col-xl-3">
                <div class="service-card">
                    <div class="service-card_icon">
                        <i class="fa-light fa-planet-moon"></i>
                    </div>
                    <h3 class="service-card_title">   
                        التكامل مع الشبكات الاجتماعية

                    </h3>
                    <p class="service-card_text">
                        تصميم يتيح لعملائك التنقل بين موقع و صفحاتك على مواقع التواصل المتعددة    
                    </p>
                </div>
            </div>
    
            <div class="col-sm-6 col-lg-3 mb-5 col-xl-3">
                <div class="service-card">
                    <div class="service-card_icon">
                        <i class="fa-regular fa-shield-check"></i>
                    </div>
                    <h3 class="service-card_title">   
                        الحماية
                    </h3>
                    <p class="service-card_text">
                        توفير اعلى و سائل الحماية المتاحة من ناحية الكود البرمجي و امن الخوادم و تفعيل
                        ssl
                                        </p>
                </div>
            </div>
    
            <div class="col-sm-6 col-lg-3 mb-5 col-xl-3">
                <div class="service-card">
                    <div class="service-card_icon">
                        <i class="fa-regular fa-bell"></i>
                    </div>
                    <h3 class="service-card_title">   
                        الإشعارات القانونية

                    </h3>
                    <p class="service-card_text">
                        تنصيب اشعار الخصوصية و ملف الارتباط في موقعك حتى تشعر المستخدمين انك تحترم خصويتهم مما يترك انظبعا جيد عن موقعك
                                        </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-5 col-xl-3">
                <div class="service-card">
                    <div class="service-card_icon">
                        <i class="fa-regular fa-map-location-dot"></i>
                    </div>
                    <h3 class="service-card_title">   
                        خرائط جوجل

                    </h3>
                    <p class="service-card_text">
                        تتضمن جميع صفحات الويب الخاصة بنا نماذج الاتصال وخرائط جوجل بحيث يمكن لعملائك الاتصال بك وتحديد موقعك بسهولة.

                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-5 col-xl-3">
                <div class="service-card">
                    <div class="service-card_icon">
                        <i class="fa-light fa-newspaper"></i>
                                        </div>
                    <h3 class="service-card_title">   
                        استمارة تواصل

                    </h3>
                    <p class="service-card_text">
                        استمارة تواصل تتيح للعملاء التواصل معك و ترك بياناتهم و الخدمات او المنتجات التي يرغبون بها بالاضافة للشكوي او الاقتراحات


                    </p>
                </div>
            </div>
    
            <div class="col-sm-6 col-lg-3 mb-5 col-xl-3">
                <div class="service-card">
                    <div class="service-card_icon">
                        <i class="fa-regular fa-language"></i>
                                        </div>
                    <h3 class="service-card_title">   
                        دعم لغات متعددة

                    </h3>
                    <p class="service-card_text">
                        جميع المواقع التي نقوم بتصميمها ترعم تعدد الغات و ما عليك الى طلب ذلك



                    </p>
                </div>
            </div>
    
        
 
        </div>
    </section>

    <section class="mt-4 mb-3">
        <div class="container">
            <div class="row">
               
                <div class="col-md-8 order-2-custom">
                    <h4 class="text-start">ما أهمية التصميم الجيد للموقع الالكتروني؟ </h4>

كشركة رائد في مجال التسويق الالكتروني وتصميم المواقع بالرياض وجدة يمكننا القول أن أهمية تصميم الموقع الالكتروني تكمن في قدرته على جذب الجمهور المستهدف، وتحويل الزوار إلى عملاء محتملين، ولا يمكن لذلك أن يتحقق إلا بحصول المستخدم على تجربة تصفح سلسة تساعده على ترك انطباع جيد عن الشركة التي يتعامل معها. ولضمان حصول المستخدم على تجربة تصفح سهلة عليك بالاستعانة بأصحاب الخبرة في تصميم المواقع، يسر فريق شركتنا بمقرها في جدة والرياض مساعدتك في الحصول على تصميم الموقع الإلكتروني الذي تطمح له لمساعدتك في النهوض بعلامتك التجارية وتحقيق النجاح الذي تحلم به.

إضافة إلى ما سبق فإن أهمية التصميم الجيد للموقع الإلكتروني تكمن في تكوين هوية للعلامة التجارية، كما يعد الوسيلة المناسبة لإظهار نقاط البيع الخاص بخدماتك أو منتجاتك وعليه زيادة عدد المستفيدين من خدماتك.
                </div>
                <div class="col-md-4 order-1-custom">
                    <img src="{% static 'website/coretech/assets/img/service/website.jpg' %}">
                </div>
            </div>
          
        </div>
    </section> 
    <section class="mt-2">
        <div class="cta-wrap" >
            <div class="container">
                <div class="row w-100 gx-0 align-items-center">
                    <div class="col-lg text-center text-lg-start">
                        <h5 class="mb-10 mt-n2 text-right">
                            للحصول على موقعك  المميز                                 
                        </h5>
                       
                    </div>
                    <div class="col-lg-auto mt-35 mt-lg-0">
                        <div class="text-center">
                            <a href="{% url 'website:request-service' category="website" %}"
                            class="as-btn style3"
                           >اطلب الخدمة</a>
                                                </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <h5 class="modal-title" id="exampleModalLabel">
                    <img src="{%static 'website/coretech/assets/img/logo.png'%}" class="img-95px">  </h5>
                    <h5 class="mr-5">
                        اطلب الخدمة المطلوبة وسيتم التواصل معك
                   </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
           </div>
            <div class="modal-body">
                <form action="#" method="POST" class=" ">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="name" id="name" placeholder="الاسم">
                            <i class="fal fa-user"></i>
                        </div>
                        <div class="form-group  col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="عنوان البريد الإلكتروني">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="form-group  col-md-6">
                            <input type="number" class="form-control" name="phone" id="phone" placeholder="رقم الهاتف">
                            <i class="fal fa-phone"></i>
                        </div>
                        <div class="form-group  col-md-6">
                            <input type="text" class="form-control" name="company" id="company" placeholder="اسم الشركة/ المؤسسة ">
                            <i class="fal fa-comment"></i>
                        </div>
                       
                        <div class="form-group col-12">
                            اختر الخدمة المطلوبة
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            نظام ادارة المؤسسات والشركات
                                        </label>
                                      </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                        <label class="form-check-label" for="flexCheckDefault1">
                                            التسويق الالكتروني
                                        </label>
                                      </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                        <label class="form-check-label" for="flexCheckDefault2">
                                            تصميم المواقع الالكترونية والتطبيقات
                                        </label>
                                      </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                                        <label class="form-check-label" for="flexCheckDefault3">
                                            استضافة المواقع والبريد الالكتروني
                                        </label>
                                      </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                                        <label class="form-check-label" for="flexCheckDefault4">
                                            التصاميم والجرافكس
                                        </label>
                                      </div>
                                </div>
                                <div class="col-md-6">

                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                                        <label class="form-check-label" for="flexCheckDefault5">
                                            إدارة السوشيال ميديا
                                        </label>
                                      </div>
                                </div>
                            </div>
                              
                        </div>
                        <div class="form-btn col-12">
                            <button class="as-btn">ارسل الخدمة </button>
                        </div>
                    </div>
                    <p class="form-messages mb-0 mt-3"></p>
                </form>
            </div>
         
          </div>
        </div>
      </div>
      {% endblock %}