{% extends 'website/coretech/_base.html' %}
{% block title %}                     استضافة المواقع والبريد الالكتروني                         
{% endblock title %}

{% load static %}
{% block content %}
    <!----==============================
    Breadcumb
============================== -->
<div class="breadcumb-wrapper " style="  background: linear-gradient(to top, #3c3369ba, #4c4779cc), url({%static 'website/coretech/assets/img/breadcum/istockphoto-1252202552-170667a.jpg'%}) no-repeat;">

    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">
                 استضافة المواقع والبريد الالكتروني                </h1>
            <ul class="breadcumb-menu">
                <li><a href="{% url 'website:website_index' %}">الصفحة الرئيسية</a></li>
                <li>  
                    استضافة المواقع والبريد الالكتروني                         
                      </li>
            </ul>
        </div>
    </div>
</div>
    <!--==============================
    Service Area
==============================-->
    <section class="space-top space-extra-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12 col-lg-12">
                
                            <h2 class="h3 page-title">
                                استضافة المواقع والبريد الالكتروني 
                                                        </h2>
                            <p>
                                تطبيق الويب هو تطبيق يتم تطويره ليعمل في المتصفحات ويتم الوصول إليه عن طريق الإنترنت والوسيط هو المتصفح, ويتم كتابة هذه التطبيقات بعدة لغات برمجة من بينها Python,Php,Perl,Ruby .. ويتم تطويرهذه التطبيقات الويب عن طريق إطارت تصميم تطبيقات الويب Web Application Framework.

                                - يتيح للزائرين البحث عن المعلومات على نحو سريع وسهل في المواقع الغنية بالمحتوى.
                                
                                - يمنح هذا النوع من تطبيقات الويب للزائرين القدرة على البحث في المحتوى وتنظيمه والتنقل خلاله بالطريقة التي يرونها ملائمة. من أمثلة ذلك: شبكات الإنترنت للشركات وMicrosoft MSDN وAmazon.com
                                تتيح جمع البيانات التي يوفرها زائروا الموقع وحفظها وتحليلها.
                                
                                - استخراج البيانات وإنشاء تقارير مستندة إلى الويب ليتم تحليلها. ومن أمثلة ذلك: صفحات الخدمات المصرفية عبر الإنترنت وصفحات إتمام البيع للمتاجر واستطلاعات الرأي ونماذج ملاحظات المستخدمين.
                                                            </p>

                          <!--==============================
Project Area  
==============================-->

                            
                            <!--==============================
    Price Area  
   ==============================-->
 
                </div>
                <div class="col-md-4">
                    <img src="{%static 'website/coretech/assets/img/service/server-control-panel-hosting-software-vector-illustration_116137-337.jpg'%}
                    ">
                </div>
               <div class="col-md-8">
                    <h3>كيفية الحصول على خدمة الاستضافة الملائمة ؟</h3>
                    <p>
                        فى مرحلة اختيارك لخدمة الاستضافة المناسبة، هناك العديد من العوامل التى يجب وضعها في الاعتبار.
                            مدى امكانية الاعتماد على الخادم وكفاءته من حيث معدل توافر الخادم ، خطة الدعم الفنى للنسخ الاحتياطي، توفير شبكات احتياطية.
                          <br>  - تأكد دائماً ان لديك معلومات كافية حول هذه الخصائص.
                            وقت الاستجابة ومفردات بيان مستوى الخدمة.
                            <br> - ختر دائما موفر خدمة يلتزم بالأداء المهنى ويفى بالتزاماته.
                            اتخاذ قرار بشأن نوع خدمة الاستضافة الملائمة، هل الافضل يونيكس أو ويندوز؟
                            <br> - تأكد من أن موفر الخدمة الخاص بك على علم تام بأنواع الاستضافة المختلفة، وهو على استعداد تقديم ما يناسب عملك بشكل أفضل.
                     </p>
               </div>
               <br>
               <div class="col-md-8 mt-auto order-2-custom mb-auto">
                <h2>خدمات الاستضافة لدى الموجة التالية: ما الذى يميزنا؟
                </h2>
                <p>
                    الموجة التالية تمتلك وتدير خوادم ذات نوعية عالية مخصصة لاستضافة المواقع على شبكة الإنترنت، صناديق البريد الإلكتروني، وقواعد البيانات وتطبيقات الويب مع توفير أقصى قدر من الاستقرار و الأمان لبيانات عملك و للأصول الخاصة بك على شبكة الإنترنت.

                    نحن نمتلك وندير خوادم ذات على مستوى عالمي في كل من أمريكا الشمالية وأوروبا والتى تقدم خدمات ويب فعالة آمنة وسريعة و بأنسب تكلفة لملايين المستخدمين في جميع أنحاء العالم.  
                </p>
           </div>
                <div class="col-md-4 order-1-custom">
                    <img src="{%static 'website/coretech/assets/img/service/host.jpg'%}
                    ">
                </div>
           
            </div>
            
       
        </div>
    </section>
    <section class="mt-2">
        <div class="cta-wrap" >
            <div class="container">
                <div class="row w-100 gx-0 align-items-center">
                    <div class="col-lg text-center text-lg-start">
                        <h5 class="mb-10 mt-n2 text-right">
                            اطلب خدمة الاستضافة لموقعك
                        </h5>
                       
                    </div>
                    <div class="col-lg-a
                    
                    uto mt-35 mt-lg-0">
                        <div class="text-center">
                            <a href="{% url 'website:request-service' category="hosting" %}"
                            class="as-btn style3"
                           >اطلب الخدمة</a>
                                                </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                <img src="{%static 'website/coretech/assets/img/logo.png'%}" class="img-95px">  </h5>
                <h5 class="mr-5">
                    اطلب الخدمة المطلوبة وسيتم التواصل معك
               </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" method="POST" class=" ">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" name="name" id="name" placeholder="الاسم">
                            <i class="fal fa-user"></i>
                        </div>
                        <div class="form-group  col-md-6">
                            <input type="email" class="form-control" name="email" id="email" placeholder="عنوان البريد الإلكتروني">
                            <i class="fal fa-envelope"></i>
                        </div>
                        <div class="form-group  col-md-6">
                            <input type="number" class="form-control" name="phone" id="phone" placeholder="رقم الهاتف">
                            <i class="fal fa-phone"></i>
                        </div>
                        <div class="form-group  col-md-6">
                            <input type="text" class="form-control" name="company" id="company" placeholder="اسم الشركة/ المؤسسة ">
                            <i class="fal fa-comment"></i>
                        </div>
                       
                        <div class="form-group col-12">
                            اختر الخدمة المطلوبة
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="ip">
                                        <label class="form-check-label" for="ip">
                                            نظام ادارة المؤسسات والشركات
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="io">
                                        <label class="form-check-label" for="io">
                                            التسويق الالكتروني
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="po">
                                        <label class="form-check-label" for="po">
                                            تصميم المواقع الالكترونية والتطبيقات
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="pu">
                                        <label class="form-check-label" for="pu">
                                            استضافة المواقع والبريد الالكتروني
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="pl">
                                        <label class="form-check-label" for="pl">
                                            التصاميم والجرافكس
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                  
                                    <div class="form-check mt-3">
                                        <input class="form-check-input" type="checkbox" value=""
                                            id="ps">
                                        <label class="form-check-label" for="ps">
                                            إدارة السوشيال ميديا
                                        </label>
                                    </div>
                                </div>
                            </div>
                  
                        </div>
                        <div class="form-btn col-12">
                            <button class="as-btn">ارسل الخدمة </button>
                        </div>
                    </div>
                    <p class="form-messages mb-0 mt-3"></p>
                </form>
            </div>
         
          </div>
        </div>
      </div>
   
    <!--==============================
	Footer Area
==============================-->
{% endblock content %}